*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #1E1D2B;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1E1D2B;
  color: white;
  position: fixed;
  width: 100%;
}

nav h2{
    color: rgb(224, 105, 8)
}


nav.active {
  flex-direction: column;
  align-items: flex-start;
}

nav h2.logo {
  font-weight: bold;
  font-size: xx-large;
}

nav .bars {
  position: absolute;
  right: 1rem;
  font-size: xx-large;
  display: none;
}

ul.nav-links {
  display: flex;
  text-align: end;
}

/* responsive */
nav.active ul.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

li.nav-link {
  list-style: none;
  margin: 0.5rem 1rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}

li.nav-link:hover {
  background-color: #ccc;
  color: #333;
}


li.nav-link a {
  text-decoration: none;
  color: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  nav .bars {
    display: block;
  }

  nav .nav-links {
    display: none;
  }
}



h1{
    color: rgb(224, 105, 8);
    font-size: 80px ;
   
}

.home{
    position: absolute;
    left: 10%;
    right: 50%;
    top: 40%;
    color: white;
    font-size: 20px;

}

.img1{
    filter: drop-shadow(
        0 0 10px rgb(255, 255, 255)
    );
    position: absolute;
    width: 600px;
    height: 600px;
    margin-top: 7%;

    
}

.fig{
    position: absolute;
    left: 50%;
    right: 10%;
    top: 10%;
}

.text{
  margin-bottom: 40px;
}

a{
  padding: 10px;
}
.button {
  width: 100px; 
  height: 100px; 
  background-color: rgb(224, 105, 8); 
  color: white; 
  text-align: center;
  text-decoration: none; 
  border: none; 
  transition: background-color 0.3s, color 0.3s; 

}

.button:hover {
  background-color: white; 
  color: rgb(224, 105, 8); 
}

.inicio{
  width: 100vh;
  height: 100vh;
  
}


h2{
  color: rgb(224, 105, 8);
}

.about {
  text-align: left; 
}

.fig2, .about_sec {
  display: inline-block; 
  vertical-align: top; 
  margin-top: 15%;
}

.fig2 {
  margin-right: 15%; 
  margin-left: 10%;

}

.img2 {
  max-width: 100%; 
  height: auto;
}

.about_sec div{
  font-size: 60px;
  margin-bottom: 60px;
  color: white;
}

.about_sec p{
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}





.menu{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 10%;
}

#txt{
  margin-top: 10px;
  font-size: 30px;
  color: white;
}

.fod {
  display: inline-block; 
  margin: 15px; 
  background-color: beige;
  border-radius: 10px;

}

.ult{
  margin-bottom: 4%;
  color: rgb(224, 105, 8);
}

.figuras {
  text-align: center; 
}

.img01{
  width: 300px;
  height: 300px;
  margin: 50px;
  
}

.service{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 10%;
}

.serv{
  display: inline-block;
  margin-top: 2%;
}


#title{
  color: rgb(224, 105, 8);
  font-size: 20px;
}

#texto{
  color: white;
  font-size: 15px;
}

.contact{
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  
}

.cuadrado{
  
  background-color: beige;
  width: 800px;
  height: 300px;
  margin-top: 5%;
  margin-left: 25% ;
  margin-right: 25%;
  margin-bottom: 5%;
  text-align: center
}

.t{
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.foot{
  width: 100%;
  height: 100%;
}

.t1{
  display: inline-block;
  font-size: 15px;
  margin-left: 7%;
  color: white;
  margin-top: 5%;

}


#tl{
  font-size: 40px;
  color: white;
}

@media screen and (max-width: 800px) {
    nav .bars {
        display: block;
    }

    nav .nav-links {
        display: none;
    }
}